MYICON		ICON    "./res/joypad.ico"
IMAGE_PS	SHADER	"./res/ImagePixelShader.cso"
IMAGE_VS	SHADER	"./res/ImageVertexShader.cso"
SHAPE_PS	SHADER	"./res/ShapePixelShader.cso"
SHAPE_VS	SHADER	"./res/ShapeVertexShader.cso"
TRIANGLE_PS	SHADER	"./res/TrianglePixelShader.cso"
TRIANGLE_VS	SHADER	"./res/TriangleVertexShader.cso"
LAMBERT_PS	SHADER	"./res/LambertPS.cso"
LAMBERT_VS	SHADER	"./res/LambertVS.cso"
LAMBERT_SKIN_VS	SHADER	"./res/LambertSkinVS.cso"
